*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EDF2F4;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}
header{
    background-color: #2B2D42;
    color: white;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 20px;
}
header span{
    font-size: 36px;
}

.add-button{
    background-color: #EF233C;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 40px;
    border-radius: 12px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
header a{
    text-decoration: none;
    color: inherit
}

footer{
    background-color:#F4F5F6;
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 15.25px;
}

.movie-card{
    background-color: #F4F5F6;
    border: 1px solid #8D99AE;
    border-radius: 12px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 4px 3px 0px black;
}

.movie-card img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.movie-card h3{
    font-weight: 700;
    font-size: 16px;
    margin-top: 19px;
}

.movie-list-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 60px;

    padding: 26px 20px;
    max-width: 1020px;
    margin: 0 auto;
}

.rating{
    color: #EF233C;
    font-size: 28px;
    margin-top: 8px;
    margin-bottom: 18px;
    -webkit-text-stroke: 1px #EF233C;
}

.star-empty{
    color:white
}